<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Tanggal</title>
</head>

<body>

<table border="1" width="93%">
	<tr>
		<td rowspan="2" width="8%" align="center">Tanggal</td>
		<td colspan="4">
		<p align="center">RTGS Start Day</td>
		<td colspan="4">
		<p align="center">RTGS Backup</td>
		<td rowspan="2" width="4%">Action</td>
	</tr>
	<tr>
		<td width="9%">Nik</td>
		<td width="9%">Nama</td>
		<td width="11%">Start Time</td>
		<td width="11%">End Time</td>
		<td width="9%">Nik</td>
		<td width="9%">Nama</td>
		<td width="11%">Start Time</td>
		<td width="11%">End Time</td>
	</tr>
	<tr>
		<td width="8%" align="center">&nbsp;</td>
		<td width="9%">&nbsp;</td>
		<td width="9%">&nbsp;</td>
		<td width="11%">&nbsp;</td>
		<td width="11%">&nbsp;</td>
		<td width="14%">&nbsp;</td>
		<td width="9%">&nbsp;</td>
		<td width="12%">&nbsp;</td>
		<td width="5%">&nbsp;</td>
		<td width="4%">&nbsp;</td>
	</tr>
</table>

</body>

</html>